<div class="container">
	<h2>Come, sit around the campfire. Take a little time.</h2>
	<p>Passionfruit is a company that was founded by Ezra Keddell in Wellington in 2010 with the goal of helping small businesses present a professional quality web presence online. In a little over 2 years Ezra built over 70 websites under the wellingtonweb.co.nz sub brand, with the average client investment being returned to them within 12 months. </p>
	<p>In 2012, Ezra started contracting out his UX/UI Design and Front End Development skills to some of New Zealand's best companies. In that time he has worked for Xero, Vodafone, Yellow and 3Months to name a few on large scale Corporate and Government projects.</p>
	<hr>
	<h3>A word from Ezra</h3>
	<p>I'm lazy and easily distracted. Growing up, I got easily frustrated if I couldn't see a clear benefit to the outcome of what I was doing. If there's an easier way to do something I'll look into it. And if that way delivers a better outcome I'll adopt it. Over the last 4 years, having had the privelege to deliver work for a range of NZ's best online companies, I've seen first hand how they deliver web software. I've fallen in love with some of the technology that I've worked with - Ruby on Rails, SASS, Slim and Haml, Html5, AngularJS and many of the other JS libraries and frameworks bringing so much w!n to the web at the moment. And now is the time to take that experience and start crafting my own story. I'm blessed to be born into a family who is very business oriented.</p>
</div>

